---
// src/pages/[slug].astro
import fetchArticles from "../../scripts/fetchArticles";
import SideMenus from "../../components/SideMenus.astro";
import TOC from "../../components/TOC.astro";
import Footnotes from "../../components/Footnotes.astro";
import { ViewTransitions } from "astro:transitions";

const API_URL = "https://ks.valocg.xyz/wp-json/api/articles";

export async function getStaticPaths() {
    const articles = await fetchArticles();
    return articles.map((article) => {
        return { params: { slug: article.slug } };
    });
}

const { slug } = Astro.params;
const res = await fetch(API_URL);
const json = await res.json();

const article = json.find((article) => article.slug === slug);
const title = article.title;
const ogImg = `https://api.vustadz.com/api/og/title=${encodeURIComponent(title)}/img=${Buffer.from(article.featured_image.url).toString('base64')}/logo=${Buffer.from("https://ucarecdn.com/70c79e80-7979-4da9-9fe6-f0a7f1c08ca3/logoicon.png").toString('base64')}`;

import "../../styles.css";
import "@fontsource/amiri";
import "@fontsource-variable/lora";
import "@fontsource-variable/montserrat";
import "@fontsource/titillium-web";
import { Head } from "astro-capo";
import { Icon } from "astro-iconify";
import { Image } from "astro:assets";
import Navbar from "../../components/Navbar.astro";
import { SEO } from "astro-seo";
---

<html lang="id-ID" data-theme="dark">
    <Head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon/favicon.ico" />
        <SEO
            title={title}
            titleTemplate="%s | KenaliSyiah"
            description={article.excerpt}
            openGraph={{
                basic: {
                    title: title,
                    type: "article",
                    image: ogImg,
                },
                optional:{
                    locale: "id_ID",
                    siteName: "KenaliSyiah",
                }
            }}
            twitter={{
                card: "summary_large_image",
                site: "@kenalisyiah",
                creator: "@kenalisyiah",
                description: article.excerpt,
                image: ogImg,
            }}
        />
        <script>
            // Astro will do the job of bundling everything for you
            import { getOramaDB, search } from "@orama/plugin-astro/client";

            // We load the DB that we generated at build time, this is an asynchronous
            // operation, so we must either await, or rely on `.then` calls.
            const db = await getOramaDB("mydb");
        </script>
    </Head>

    <body>
        <ViewTransitions />
        <Navbar />
        <div class="flex relative h-full">
            <SideMenus />
            <div class="w-full">
                <div class="flex dark:bg-base-300 bg-base-100">
                    <main
                        class="pb-10 grow-0 w-full lg:max-w-[1100px]"
                        transition:animate="fade"
                    >
                        <div id="main-content" class="">
                            <section class="article-header relative">
                                {
                                    article.featured_image && (
                                        <div class="relative -mb-5 opacity-40">
                                            <div class="absolute h-full w-full inset-0 bg-gradient-to-t from-base-300 from-10% to-[90%] opacity-100" />
                                            <Image
                                                class="object-cover w-full h-[400px] md:h-[600px]"
                                                src={article.featured_image.url}
                                                width={
                                                    article.featured_image.width
                                                }
                                                height={
                                                    article.featured_image
                                                        .height
                                                }
                                                alt={article.title}
                                            />
                                        </div>
                                    )
                                }
                                <h1
                                    class="text-3xl md:text-[40px] font-bold mb-4 font-montserrat relative z-10 text-base-content px-11 pt-5 leading-tight"
                                >
                                    {article.title}
                                </h1>
                                <div
                                    class="mt-3 mb-5 relative z-10 text-base-content px-11 pb-4"
                                >
                                    Waktu membaca: {article.reading_time} menit
                                </div>
                            </section>
                            <article
                                class="prose font-serif max-w-none px-11"
                                set:html={JSON.parse(article.content)}
                            />

                            <Footnotes footnotes={article.footnotes} />
                        </div>
                        <div class="flex mt-8 mx-11 gap-4 mb-8">
                            {
                                article.nav.prev && (
                                    <a
                                        class="flex items-center justify-end w-[50%] btn btn-outline py-6 h-fit px-4"
                                        href={article.nav.prev.url}
                                    >
                                        <Icon
                                            name="heroicons:chevron-left"
                                            class="w-4 h-4 mr-auto"
                                        />
                                        <div class="text-right">
                                            <div class="text-xs mb-2 font-semibold ">
                                                Sebelumnya
                                            </div>
                                            <div class="font-titillium">
                                                {article.nav.prev.title}
                                            </div>
                                        </div>
                                    </a>
                                )
                            }
                            {
                                article.nav.next && (
                                    <a
                                        class="flex items-center justify-start w-[50%] btn btn-outline py-6 h-fit px-4 ml-auto"
                                        href={article.nav.next.url}
                                    >
                                        <div class="text-left">
                                            <div class="text-xs mb-2 font-semibold">
                                                Selanjutnya
                                            </div>
                                            <div class="font-titillium">
                                                {article.nav.next.title}
                                            </div>
                                        </div>
                                        <Icon
                                            name="heroicons:chevron-right"
                                            class="w-4 h-4 ml-auto"
                                        />
                                    </a>
                                )
                            }
                        </div>
                    </main>
                    <TOC article={article} />
                </div>
            </div>
        </div>
    </body>
</html>
