---
import "../../styles.css";
import "@fontsource/amiri";
import "@fontsource-variable/lora";
import "@fontsource-variable/montserrat";
import "@fontsource/titillium-web";

const API_URL = "https://ks.valocg.xyz/wp-json/api/dalil";
// FETCH DATA
const res = await fetch(API_URL);
const data = await res.json();
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dalils</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"
        />
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script
            type="text/javascript"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
        ></script>
    </head>

    <body class="">
        <main class="">
            <table class="display text-sm md:" id="dalil-table">
                <thead>
                    <tr>
                        <th class="hidden md:table-cell">ID</th>
                        <th>Title</th>
                        <th class="hidden md:table-cell">Kitab</th>
                        <th class="hidden md:table-cell">Grading</th>
                        <th class="hidden md:table-cell">Author</th>
                        <th class="hidden md:table-cell">Tags</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {
                        data.map((dalil) => {
                            return (
                                <tr>
                                    <td class="hidden md:table-cell">
                                        {dalil.id}
                                    </td>
                                    <td>{dalil.title}</td>
                                    <td class="hidden md:table-cell">
                                        {dalil.kitab}
                                    </td>
                                    <td class="hidden md:table-cell">
                                        {dalil.grading && (
                                            <span class="badge rounded-full bg-success text-white px-3 py-4">
                                                {dalil.grading}
                                            </span>
                                        )}
                                    </td>
                                    <td class="hidden md:table-cell">
                                        {dalil.author}
                                    </td>
                                    <td class="hidden md:table-cell">
                                        {dalil.tags}
                                    </td>
                                    <td>
                                        <div class="flex items-center gap-2">
                                            <label
                                                for="viewModal"
                                                class="btn btn-outline btn-sm btn-modal hidden md:inline-flex"
                                                data-id={dalil.id}
                                            >
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    stroke-width="1.5"
                                                    stroke="currentColor"
                                                    class="w-6 h-6"
                                                >
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                                                    />
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                                    />
                                                </svg>
                                            </label>
                                            <a
                                                href={`/dalil/${dalil.id}`}
                                                class="btn btn-outline btn-sm"
                                            >
                                                View
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            );
                        })
                    }
                </tbody>
            </table>
        </main>
        <script>
            $(document).ready(function () {
                new DataTable("#dalil-table", {
                    paging: false,
                    responsive: true,
                    info: false,
                    rowReorder: {
                        selector: "td:nth-child(2)",
                    },
                });
                $(".btn-modal").click(function () {
                    let dalil_id = $(this).data("id");
                    //delete previous iframe
                    $("#dalilModal iframe").remove();
                    //append new iframe
                    $("#dalilModal .modal-box").append(
                        `<iframe src="/dalil/${dalil_id}" frameborder="0" class="w-full h-full"></iframe>`
                    );
                });
            });
        </script>

        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="viewModal" class="modal-toggle" />
        <div class="modal" id="dalilModal" role="dialog">
            <div class="modal-box w-[80vw] h-[80vh] max-w-[1400px] max-h-none">
                <label
                    for="viewModal"
                    class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                    >✕</label
                >
                <iframe src="/dalil/615" frameborder="0" class="w-full h-full"
                ></iframe>
            </div>
            <label class="modal-backdrop" for="viewModal">Close</label>
        </div>
    </body>
</html>
